.myscores-container {
  width: 76% !important;
}

.searchbar-myscores-container {
  margin-top: 5vh !important;
}

.searchform-myscores {
  position: relative;
}

.searchform-myscores .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af;
}

.searchform-myscores span {
  position: absolute;
  right: 17px;
  top: 4px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.left-pan {
  padding-left: 7px;
}

.left-pan i {
  padding-left: 10px;
}

.searchform-myscores-input {
  height: 35px;
  text-indent: 33px;
  border-radius: 10px;
}
.searchform-myscores-input:focus {
  box-shadow: none;
  border: none;
}

.myscore-addnewpdf-button{
  background-color:   $deep-navy;
  text-align: center;
  box-shadow: 0px 2px 6px 2px rgba(30,42,94, 0.5);
  border-radius: 5px;
  color: white;
  margin: 8px 80px !important;
}
.myscore-addnewpdf-button:hover{
  cursor: pointer;
}
