.landingpage-slideshow-box-top {
  background-color: white;
  height: 50vh;
  max-height: 50vw;
  margin: 10vh 10vw;
  margin-top: 15vh;
  position: relative;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

}

.landingpage-slideshow-top {
  position: absolute;
  bottom: -5vh;
  left: 0vw;
  color: $light-blue ;
}

.landingpage-slide-top-button {
  position: absolute;
  left: 11vw;
  bottom: 10vh;
}

.landingpage-slide-top-button .link-getstart {
  text-decoration: none !important;
}

.landingpage-slide-top-button .sign-link {
  text-decoration: none;
  font-size: 1rem;
  background-color: $sunny-yellow;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  color: $light-blue;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.landingpage-slide-top-button .sign-link:hover {
  transform: scale(1.06) !important;
  background-color: $light-gray;
}



.landingpage-slideshow-container {
  height: 50vh;
  padding: 0px 5vw;
}

.landingpage-slideshow-container img {

  height: 20vw;

}

.landingpage-slide-top-title {
  max-width: 37vw;

}

.landingpage-slideshow-top p {
  font-size: calc(1rem + 1vw);
}

.carousel-control-prev {
  color: black !important;
}


@media (max-width: 767px) {
  .landingpage-slideshow-container img {
    height: 25vw;
    margin-top: -24vh;
    margin-left: 30vw;
  }

  .landingpage-slide-top-button {
    margin-bottom: -4vh;
    margin-left: -10vw;
  }
}

@media (max-width:440px) {
  .landingpage-slide-top-button {
    margin-bottom: -7vh;
    margin-left: 6vw;

  }

  .landingpage-slide-top-button .sign-link {
    font-size: 0.8rem;

    padding: 0.6rem 1.6rem;

  }
}
