.introduction-homepage-title {
  text-align: center;
  color: $deep-navy;
  font-size: calc(1.5rem + 1vw);
  margin: -10vh 2vw;
  margin-bottom: 0;
}

.introduction-homepage-description {
  text-align: center;
  color: $deep-navy;
  margin: 2vh 3vw;
  font-size: calc(1rem + 1vw);
  text-align: justify;

}

.introduction-homepage-circle-container {
  margin: 8vh 2vw !important;
}

.introduction-hompage-circle {}

.introduction-hompage-circle > img {
  height: 200px ;
  border-radius: 50%;
}

@media(min-width : 530px) {
  .introduction-homepage-title {
    margin-top: 10vh;
    font-size: calc(1.6rem + 1vw);
  }

  .introduction-homepage-description {
    text-align:left;
    text-align: justify;
    margin: 2vh 5vw;
    font-size: 1.2rem;
  }

  .introduction-homepage-circle-container {
    margin: 10% 10% !important;

  }

  .introduction-hompage-circle {
    display: flex;
  }

}

@media(min-width : 992px) {
  .introduction-homepage-title {
    margin-top: 20vh;
    font-size: calc(1.6rem + 1vw);
  }
  .introduction-homepage-circle-container {
    margin: 10% 0% !important;
    font-size: 0.7rem;

  }

  .introduction-hompage-circle {
    display: flex;
  }

  .introduction-hompage-circle  > img {
    height: 150px;
    border-radius: 50%;
  }

}

@media(min-width : 1200px) {
  .introduction-homepage-title {
    margin-top: 40vh;
  }

  .introduction-homepage-description {

    margin: 20px 4vw;
    font-size: 1.4rem;
  }

  .introduction-homepage-circle-container {
    margin: 10% 3vw !important;
    font-size: 1rem;

  }

  .introduction-hompage-circle {
    display: flex;

  }

  .introduction-hompage-circle img {
    height: 200px;
    border-radius: 50%;
  }

}
