/* Basic navbar styling */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
  background-color: white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  mix-blend-mode: multiply;
  height: 10vh;
  width: auto;
}

.welcome-navbar {
  margin-left: 10vw;
  font-size: 1.2rem;
  color: $light-blue;
}

.navbar-right {
  display: flex;
  align-items: center;
}
.nav-sign-link{
  margin-left: 20px;
  text-decoration: none;
  font-size: 1.2rem;
  background-color: $light-blue;
  padding: 7px 16px;
  border-radius: 3px;
  color: white ;
  box-shadow:  0px 6px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.nav-sign-link:hover{
  margin-left: 20px;
  text-decoration: none;
  font-size: 1.2rem;
  background-color: $light-blue;
  padding: 7px 16px;
  border-radius: 3px;
  color: white ;
  box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.06) !important;

}
.nav-link {
  margin-left: 30px;
  text-decoration: none;
  font-size: 1.3rem !important;
  color: $light-blue !important;

}

.nav-link:hover {
  color: #0056b3;
}

.navbar-profile-picture {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-left: 15px;
}



.logout-button-navbar:hover {
  cursor: pointer;
}
