.landingpage-container {
  margin: 3vh 1vw;
}
.landingpage-data-boxes{
  margin:0px 10vw;
}
.landingpage-static {
  margin: 2vh 0px;
  height: 20vh;
  background-color: white;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
border-radius: 5px;
// box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
border: 2px solid $light-blue;
}
.landingpage-static:hover{
  transform: translateY(-10px);
}
.landingpage-static-data {
  position: absolute;
  bottom: 3vh;
  left: 5vh;
}

.landingpage-link-box {
  margin: 2vh 0px;
  height: 20vh;
  background-color: $sunny-yellow;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.landingpage-link-box:hover{
  transform: translateY(-10px);
}
.landingpage-static-data p {
  font-size: 2rem;
}

.landingpage-link-data {
  position: absolute;
  bottom:3vh;
  left: 5vh;
}

.landingpage-link-data p {
  font-size: 2rem;
}
