.landingpage-container {
  margin: 3vh 1vw;
}
.landingpage-data-boxes{
  margin:0px 10vw;
}
.landingpage-static {
  height: 20vh;
  background-color: white;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
border-radius: 5px;
// box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
border: 2px solid $light-blue;
}
.landingpage-static:hover{
  transform: translateY(-10px);
}
.landingpage-static-data {
  position: absolute;
  top: 5vh;
  left: 5vh;
  justify-content: flex-start;
  display: flex;
}


.landingpage-link-box:hover{
  transform: translateY(-10px);
}

.landingpage-statics-icon img{
  height: 10vh;
}
.landingpage-static-data-letters{
  margin-left: 2vw;
  font-size: calc(0.8rem + 0.8vh);
}
