@import "../../style/config/color.scss";

.homepage-container {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $light-gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $ocean-teal;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $deep-navy;
}

.homepage-top-cover {
  height: 70vh;
  width: 96.5%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  border: 2px solid white;
  margin: 2%;
  margin-top: 80px;
}

.homepage-top-cover::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../../../public/images/homepagecover2.png);
  background-size: cover;
  background-position: center;

  z-index: 1;
  opacity: 0.6;
  border-bottom-right-radius: 30px ;
  border-bottom-left-radius: 30px ;

}

.homepage-top-cover img {
  opacity: 1;
  z-index: 2;
}

.homepage-top-cover .cover-girl {
  height: 72vh;
  margin-right: -16vw;
margin-bottom: -5vh;
z-index: 3;

}

.homepage-top-cover .cello {
  height: 65vh;
  margin-bottom: -25vh;
}

.homepage-top-cover .musicnote {
  height: 25vh;
margin-top: -20vh;
margin-right: -15vw;
}


.homepage-top-cover h1 {
  z-index: 2;
  position: absolute;
  color: $deep-navy;
  font-size: calc(3rem + 2vw);
  max-width: 40vw;
  left: 3vw;

}
@media(max-width : 991px){
  .homepage-top-cover .cover-girl {
    margin-right: 0vw;
  }
  .homepage-top-cover {

    display: flex;
    justify-content: center;
    align-items: center;
  }
}




.homepage-lists-container {
  padding: 0px 5vw;
  margin: 10vh 0vw;
}

@media(min-width:1500px){
  .homepage-lists-container {
    margin: 10vh 5vw;
  }
}


.homepage-footer img{
  height: 65vh;
  width: 96.5%;
  margin: 0 2% ;
  margin-top: 10vh;

}
